.fixed-table-container {
  height: 400px;
  margin: 10px auto;
  position: relative;
  padding-top: 30px;
}
.fixed-table-container .fixed-header-bg {
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }

.fixed-table-container .fixed-table-container-body {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}
.fixed-table-container .fixed-table-container-body table {
  background-color: white;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  border-spacing: 0;
  border-collapse: collapse;
}
.fixed-table-container .fixed-table-container-body table th {
  padding: 0 5px;
  text-align: left;
}
.fixed-table-container .fixed-table-container-body table th .first .th-inner {
  border-left: none;
  padding-left: 6px;
}
.fixed-table-container .fixed-table-container-body table th .th-inner {
  position: absolute;
  top: 0;
  line-height: 30px;
  text-align: left;
  padding-left: 5px;
  margin-left: -5px;
}
